

#ve343 .span1 {
  font-size: 10pt;
}
#ve343 .span3 {
  font-size: 10pt;
}
#ve5222 .ReportElementContainer {
  padding: 5px;
}
#ve343 .span2 {
  color: #ffffff;
}
#cd794 .If {
  color: #DD5757;
}
#ve343 .span5 {
  font-size: 10pt;
}
#ve343 .span4 {
  color: #ffffff;
}
#ve343 .span6 {
  color: #ffffff;
}
#ve5137 .paragraph2 {
  text-align: right;
}
#cd5160 .If {
  color: #15B57B;
}
#ve4266 .Table {
  padding-top: 16px;
  wrap-text: normal;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve343 .paragraph2 {
  text-align: right;
}
#ve27170 .ReportElementContainer {
  padding: 3px;
}
#ve343 .paragraph1 {
  text-align: right;
}
#ve5137 .paragraph1 {
  text-align: right;
}
#ve26428 .ReportElementContainer {
  padding: 8px;
}
#ve452 .ReportElementContainer {
  padding: 0px;
}
#ve246 .styleForTitle_paragraph5 {
  text-align: center;
}
#ve2457 .styleForTitle_span22 {
  font-weight: bold;
}
#ve4353 .TwoColorRamp1 {
  fill-gradient-start-color: #fff2cb;
  fill-gradient-end-color: #FFCC32;
}
#ve332 .ReportElementContainer {
  padding: 5px;
}
#ve4474 .paragraph1 {
  white-space: pre-line;
}
#ve185 .ReportElementContainer {
  padding: 10px;
}
#ve4270 .firstColumn {
  width: 200px;
}
#ve25768 .Table {
  wrap-text: normal;
}
#ve5168 .styleForTitle_paragraph2 {
  text-align: center;
}
#ve5222 .styleForTitle_span15 {
  font-weight: bold;
}
#ve2540 .span9 {
  color: #16a085;
}
#ve5205 .ReportElementContainer {
  padding: 5px;
}
#ve2540 .span4 {
  font-weight: bold;
}
#ve2540 .span3 {
  color: #27ae60;
}
#ve2540 .span2 {
  font-weight: bold;
}
#ve2540 .span1 {
  font-size: 12pt;
}
#ve2540 .span8 {
  font-size: 12pt;
}
#ve2540 .span7 {
  color: #16a085;
}
#ve2540 .span6 {
  font-weight: bold;
}
#ve2540 .span5 {
  font-size: 16pt;
}
#ve12707 .Container {
  background-color: #2196F3;
  transparency: 0;
}
#ve379 .styleForTitle_paragraph21 {
  text-align: center;
}
#ve2442 .styleForTitle_span20 {
  font-weight: bold;
}
#ve5222 .styleForTitle_paragraph9 {
  text-align: center;
}
#ve208 .styleForTitle_span4 {
  font-weight: bold;
}
#ve2442 .ReportElementContainer {
  padding: 5px;
}
#ve398 .styleForTitle_paragraph20 {
  text-align: center;
}
#ve4571 .GraphDataStyleDefault {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve2540 .span10 {
  font-weight: bold;
}
#cd5784 .If {
  color: #FCDD7C;
}
#ve12703 .ReportElementContainer {
  padding: 5px;
}
#ve1482 .ReportElementContainer {
  padding: 5px;
}
#ve4571 .GraphDataStyle1 {
  marker-color: #33A3FF;
  text-color: #33A3FF;
  fill-color: #33A3FF;
  line-color: #33A3FF;
}
#ve4571 .GraphDataStyle2 {
  fill-color: #929292;
}
#ve26368 .ReportElementContainer {
  padding: 8px;
}
#ve1478 .ReportElementContainer {
  padding: 5px;
}
#ve26437 .ReportElementContainer {
  padding: 8px;
}
#ve3306 .styleForTitle_paragraph6 {
  text-align: center;
}
#ve379 .styleForTitle_span12 {
  font-weight: bold;
}
#ve161 .ReportElementContainer {
  padding: 10px;
}
#ve1472 .span4 {
  color: #ffffff;
}
#ve494 .Pie {
  ring-size: 0.37;
}
#ve1472 .span1 {
  font-weight: bold;
}
#ve1472 .span2 {
  font-size: 14pt;
}
#ve4480 .paragraph1 {
  font-size: 13.5pt;
}
#ve1472 .span3 {
  color: #ffffff;
}
#cd3489 .If {
  font-weight: bold;
  font-size: 16px;
  font-family: AvenirNext;
}
#ve222 .styleForTitle_span8 {
  font-weight: bold;
}
#ve5137 .span1 {
  font-size: 10pt;
}
#ve26402 .ReportElementContainer {
  padding: 8px;
}
#ve350 .styleForTitle_paragraph12 {
  text-align: center;
}
#ve147 .styleForTitle_span2 {
  font-weight: bold;
}
#cd5796 .If {
  color: #16976D;
}
#ve14106 .styleForTitle_span23 {
  font-weight: bold;
}
#ve13446 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve5132 .span2 {
  font-size: 14pt;
}
#ve5132 .span1 {
  font-weight: bold;
}
#ve5137 .span4 {
  color: #ffffff;
}
#ve5132 .span4 {
  color: #ffffff;
}
#ve5137 .span3 {
  font-size: 10pt;
}
#ve5132 .span3 {
  color: #ffffff;
}
#ve5137 .span2 {
  color: #ffffff;
}
#ve26352 .ReportElementContainer {
  padding: 8px;
}
#ve4353 .GraphDataStyle2 {
  fill-color: #929292;
}
#ve24283 .styleForTitle_span24 {
  font-weight: bold;
}
#ve14128 .Table {
  wrap-text: normal;
  display-opts: retainnewline;
}
#ve4353 .GraphDataStyle1 {
  marker-color: #FFCC32;
  text-color: #FFCC32;
  fill-color: #FFCC32;
  line-color: #FFCC32;
}
#cd5166 .If {
  color: #DD5757;
}
#ve14100 .paragraph1 {
  text-align: right;
}
#ve161 .styleForTitle_span16 {
  font-weight: bold;
}
#ve4266 .CustomStyle2 {
  background-color: #ffe598;
  color: #000000;
}
#ve185 .styleForTitle_span3 {
  font-weight: bold;
}
#ve161 .styleForTitle_span19 {
  font-weight: bold;
  font-size: 10.6667px;
}
#cd2494 .If {
  color: #15B57B;
}
#cd5786 .If {
  color: #FFAE70;
}
#ve398 .GraphSkin {
  data-skin: CRISP;
}
#cd5804 .If {
  color: #DD5757;
}
#ve2638 .ReportElementContainer {
  padding: 10px;
}
#ve27504 .Table {
  wrap-text: normal;
}
#cd5792 .If {
  color: #FFAE70;
}
#ve802 .styleForTitle_paragraph3 {
  text-align: center;
}
#ve4353 .TwoColorRamp {
  fill-gradient-start-color: #fff2cb;
  fill-gradient-end-color: #FFCC32;
}
#ve4571 .TwoColorRamp {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#cd3289 .If {
  color: #FFCC32;
}
#ve26410 .ReportElementContainer {
  padding: 8px;
}
#ve147 .LegendFill {
  transparency: 1;
}
#ve4266 .firstColumn {
  width: 200px;
}
#ve13530 .styleForTitle_span17 {
  font-weight: bold;
}
#ve13528 .span3 {
  font-weight: bold;
}
#ve2457 .styleForTitle_paragraph11 {
  text-align: center;
}
#ve14602 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#cd5162 .If {
  color: #FFCC32;
}
#ve13528 .span2 {
  font-weight: bold;
}
#ve13528 .span1 {
  font-weight: bold;
}
#ve5147 .ReportElementContainer {
  padding: 5px;
}
#ve4258 .paragraph1 {
  white-space: pre-line;
}
#ve494 .GraphDataStyle3 {
  fill-color: #ACB0FF;
}
#ve1902 .ReportElementContainer {
  padding: 5px;
}
#ve26335 .ReportElementContainer {
  padding: 8px;
}
#ve246 .styleForTitle_span9 {
  font-weight: bold;
}
#ve4482 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve343 .ReportElementContainer {
  padding: 5px;
}
#ve14106 .styleForTitle_paragraph16 {
  text-align: center;
}
#ve26266 .ReportElementContainer {
  padding: 8px;
}
#ve1472 .ReportElementContainer {
  padding: 5px;
}
#ve13115 .Table {
  wrap-text: normal;
}
#ve26343 .ReportElementContainer {
  padding: 8px;
}
#ve13530 .Container {
  background-color: #C7E3F9;
  transparency: 0.75;
  border-color: #B0B7C2;
  border-width: 1px;
}
#ve3306 .ReportElementContainer {
  padding: 5px;
}
#ve5141 .Container {
  background-color: #2196F3;
  transparency: 0;
}
#ve5188 .styleForTitle_paragraph7 {
  text-align: center;
}
#ve4486 .CustomStyle1 {
  background-color: #99d1ff;
  color: #000000;
}
#ve14607 .span1 {
  color: #33A3FF;
  font-weight: bold;
  text-decoration: none;
  font-size: 40pt;
  font-style: normal;
  font-family: AvenirNext;
}
#ve26360 .ReportElementContainer {
  padding: 8px;
}
#ve1478 .paragraph1 {
  text-align: right;
}
#ve1478 .paragraph2 {
  text-align: right;
}
#ve398 .styleForTitle_span13 {
  font-weight: bold;
}
#ve2457 .ReportElementContainer {
  padding: 5px;
}
#ve26384 .ReportElementContainer {
  padding: 8px;
}
#ve14595 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#ve494 .styleForTitle_span5 {
  font-weight: bold;
}
#ve6242 .ReportElementContainer {
  padding: 3px;
}
#ve332 .Container {
  background-color: #2196F3;
  transparency: 0;
}
#ve13502 .paragraph1 {
  line-height: 45pt;
}
#ve13502 .paragraph2 {
  line-height: 12pt;
}
#cd2500 .If {
  color: #DD5757;
}
#ve13335 .span1 {
  font-weight: bold;
  font-size: 12pt;
}
#cd5790 .If {
  color: #DD5757;
}
#ve4571 .TwoColorRamp1 {
  fill-gradient-start-color: #cce8ff;
  fill-gradient-end-color: #33A3FF;
}
#ve350 .styleForTitle_span11 {
  font-weight: bold;
}
#ve161 .styleForTitle_span1 {
  font-weight: bold;
}
#cd3491 .If {
  color: #DD5757;
  font-weight: bold;
  font-size: 16px;
  font-family: AvenirNext;
}
#ve5168 .styleForTitle_span21 {
  font-weight: bold;
}
#ve222 .styleForTitle_paragraph4 {
  text-align: center;
}
#ve13530 .styleForTitle_paragraph10 {
  text-align: center;
}
#ve3306 .styleForTitle_span6 {
  font-weight: bold;
}
#ve2638 .styleForTitle_span18 {
  font-weight: bold;
}
#ve26393 .ReportElementContainer {
  padding: 8px;
}
#ve4264 .paragraph1 {
  font-size: 13.5pt;
}
#ve494 .LegendFill {
  transparency: 1;
}
#ve350 .ReportElementContainer {
  padding: 5px;
}
#ve12713 .Container {
  background-color: #2196F3;
  transparency: 0;
}
#ve12709 .ReportElementContainer {
  padding: 5px;
}
#ve4482 .Table {
  padding-top: 16px;
  wrap-text: normal;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve4486 .Table {
  padding-top: 16px;
  wrap-text: normal;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#ve2442 .styleForTitle_paragraph1 {
  text-align: center;
}
#ve379 .Table {
  border-style: solid;
}
#cd5782 .If {
  color: #16976D;
}
#ve246 .ReportElementContainer {
  padding: 5px;
}
#cd25378 .If {
  color: #DD5757;
}
#ve4482 .firstColumn {
  width: 200px;
}
#ve1478 .span1 {
  font-size: 10pt;
}
#ve208 .LegendFill {
  transparency: 1;
}
#ve1478 .span4 {
  color: #ffffff;
}
#ve1478 .span3 {
  font-size: 10pt;
}
#ve1478 .span2 {
  color: #ffffff;
}
#ve4486 .firstColumn {
  width: 200px;
}
#ve14607 .paragraph2 {
  line-height: 12pt;
}
#ve398 .GraphDataStyle2 {
  marker-color: #84414B;
  text-color: #84414B;
  line-color: #84414B;
}
#ve14607 .paragraph1 {
  line-height: 30pt;
}
#ve1902 .span1 {
  font-size: 12pt;
}
#ve2540 .ReportElementContainer {
  padding: 5px;
}
#ve147 .ReportElementContainer {
  padding: 5px;
}
#ve5149 .Container {
  background-color: #2196F3;
  transparency: 0;
}
#ve1902 .span3 {
  font-weight: bold;
}
#ve1902 .span2 {
  font-weight: bold;
}
#ve5205 .styleForTitle_paragraph8 {
  text-align: center;
}
#ve452 .Container {
  background-color: #FFFFFF;
  transparency: 0.06;
}
#ve5168 .ReportElementContainer {
  padding: 5px;
}
#ve26419 .ReportElementContainer {
  padding: 8px;
}
#cd5788 .If {
  color: #DD5757;
}
#ve26254 .ReportElementContainer {
  padding: 8px;
}
#ve26260 .ReportElementContainer {
  padding: 8px;
}
#ve1482 .Container {
  background-color: #2196F3;
  transparency: 0;
}
#cd5806 .If {
  color: #FCDD7C;
}
#ve1902 .span4 {
  font-weight: bold;
}
#ve27185 .Table {
  wrap-text: normal;
}
#ve5205 .styleForTitle_span14 {
  font-weight: bold;
}
#cd5798 .If {
  color: #16976D;
}
#ve802 .ReportElementContainer {
  padding: 5px;
}
#ve222 .ReportElementContainer {
  padding: 5px;
}
#ve14100 .ReportElementContainer {
  padding: 0px;
}
#ve26376 .ReportElementContainer {
  padding: 8px;
}
#ve4353 .GraphDataStyleDefault {
  marker-color: #FFCC32;
  text-color: #FFCC32;
  fill-color: #FFCC32;
  line-color: #FFCC32;
}
#ve4270 .Table {
  padding-top: 16px;
  wrap-text: normal;
  horizontal-line-style: none;
  vertical-line-style: none;
}
#cd5164 .If {
  color: #FF8224;
}
#ve5141 .ReportElementContainer {
  padding: 5px;
}
#ve802 .styleForTitle_span7 {
  font-weight: bold;
}
#ve12711 .ReportElementContainer {
  padding: 3px;
}
#cd5794 .If {
  color: #FCDD7C;
}
#ve1445 .ReportElementContainer {
  padding: 5px;
}
#ve5132 .ReportElementContainer {
  padding: 5px;
}
#ve5188 .ReportElementContainer {
  padding: 5px;
}
#cd5802 .If {
  color: #FFAE70;
}
#ve1445 .span1 {
  font-weight: bold;
}
#cd3287 .If {
  color: #FF8224;
}
#ve5188 .styleForTitle_span10 {
  font-weight: bold;
}
#ve1445 .span4 {
  color: #ffffff;
}
#ve5137 .ReportElementContainer {
  padding: 5px;
}
#ve1445 .span3 {
  color: #ffffff;
}
#ve1445 .span2 {
  font-size: 14pt;
}
#ve13502 .span1 {
  color: #33A3FF;
  font-weight: bold;
  font-size: 60pt;
  font-family: AvenirNext;
}
#ve4270 .CustomStyle2 {
  background-color: #ffe598;
  color: #000000;
}

			